body {
    margin: 40px;
    font-size: x-large;
}

.title-text {
    margin: 5px;
}

.title-section {
    display: flex;
    flex-direction: row;
}

.title-text-block {
    width: 100%; 
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.side-image-block {
    width: 90%; 
}

.headshot {
    display: flex;
    width: 50%; 
    margin: auto;
    right: 10px; 
}